/*
	Brennan Wilkes
	100322326
	CPSC 2030 W01
*/

html, body {
	overflow: hidden;
}

*{
	padding:0;
	margin:0;
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;

	font-size:4vmin;
	text-transform: uppercase;
	color: black;
}

body{
	background-color:#0C1A5F;
	height:100vh;
	width:100vw;
}

.backgroundIsland{
	position: absolute;
	background-size:0;
	height: 1024px;
	width: 1024px;
	position:relative;
	overflow:hidden;
}

.backgroundIsland > .lighting{
	width: 10240px;
	z-index: -1;
	-webkit-animation:	renderLighting 12s steps(5) infinite alternate;
	-moz-animation:		renderLighting 12s steps(5) infinite alternate;
	-o-animation:		renderLighting 12s steps(5) infinite alternate;
	animation: 			renderLighting 12s steps(5) infinite alternate;
	will-change: transform;
}

.backgroundIsland > .baselayer{
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -2;
}

#backgroundDisplay{
	left: 50vw;
	top: 40vh;
}

.backgroundIsland > .baselayer, .backgroundIsland > .lighting, #sunset-overlay{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

#sunset-overlay{
	background-image: linear-gradient(-45deg, #FF000040, #FF000080, #FFC922FF);

	width: 100%;
	height: 100%;
	z-index: 0;
}

.lignting-anim{
	-webkit-animation:	fadeInAndOut 12s linear infinite alternate;
	-moz-animation:		fadeInAndOut 12s linear infinite alternate;
	-o-animation:		fadeInAndOut 12s linear infinite alternate;
	animation: 			fadeInAndOut 12s linear infinite alternate;
	will-change: opacity;
}

.page{
	width: 90vw;
	max-width: 67.5vh;

	height: 120vw;
	max-height: 90vh;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #F3D6A5;
	box-shadow: 0.5vmin 0.5vmin 3vmin 0.25vmin black;



	display:flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	z-index: 1;
}

.page > *{
	width:80%;
	margin: 0 10%;
}

.page > *:first-child{
	margin-top: 10%;
	font-size:8vmin;
	font-weight: bold;
}

.page:nth-child(-n+6) > *:first-child{
	margin-top: 5%;
}
.page:first-child > *:first-child{
	margin-top: 10%;
}

#osi{
	font-size: 7vmin;
}

#bw, #doc, #gal > h1, #gallery-preview > h1{
	font-size: 6vmin;
}

a img{
	max-width: 6vmin;
	max-height: 6vmin;
}


.page > div, .page > a{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.page a *{
	margin-left: 5vmin;
	margin-right: 5vmin;
	height: 8vmin;
}

a{
	text-decoration: none;
}


.page > div > *, .page > a > *{
	max-width: 60%;
}

.page div input[type=text]{
	text-transform: none;
}

input[type=checkbox]{
	width:5.5vmin;
	height:5.5vmin;
}

input, .page, input:focus{
	border-radius: 0.25vmin;
	outline-width: 0;
}

.page > *:last-child{
	margin-bottom: 8%;
}

.page > div:last-child > *{
	width:45%;
}


h1, h2{
	color: #444;
}

label, input[type=button], input[type=submit], button{
	color: #222;
	padding-top: 0.25%;
}

button, input[type=button], input[type=submit], a{
	outline-width: 0;
	line-height: 8vmin;
	vertical-align: middle;
	border-radius: 2vmin;
}


.page:nth-child(6) input[type=button], .page:nth-child(6) input[type=submit]{
	line-height: 5vmin;
	border-radius: 0.5vmin;
	padding-top: 0.5%;
}

input, button, a{
	border: 1px solid #222;
	min-width: 0;
	flex-shrink: 1;
	background-color: #F8E7C9;
}

input[type=color]{
	background-color: #F3D6A5;
}





.dual label{
	width:150%;
}

.tri label{
	width:200%;
}

input:hover, button:hover, a:hover{
	cursor:pointer;
	background-color: #E7CC9C;
}
input[type=text]:hover{
	cursor:text;
}
input[type=button]:active, input[type=submit]:active, button:active, input:focus, button:focus, a:active{
	background-color: #DFBB7C;
}

#gal > div, #gallery-preview > img{
	margin-top:5vh;
	margin-bottom: 5vh;
	height:80%;
	width:80%;
}

#gal > div{
	overflow-y: scroll;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #0C1A5F;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#gal > div::-webkit-scrollbar {
	display: none;
}

#gal > div > img{
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	transition:0.5s;
}

#gal > div > img:hover{
	transform: scale(1.15);
	box-shadow: 0.5vmin 0.5vmin 3vmin 0.25vmin black;
	cursor: pointer;
	overflow: visible;
	z-index: 5
}

#gal, #gallery-preview{
	display: grid;
	grid-template-rows: 15% 70%;
	align-content: center;
	text-align: center;
}

#backgroundPage{
	z-index: 0;
	box-shadow: 0 0 0 0;
}

#JS{
	border: 1px solid black;
}

#preview_display ~ div > *{
	width:49.6%;
}

/*/////////////////////////////////////////*/


/*
	This copy paste code for webkit and moz angers me
*/

input[type=range]{
	-webkit-appearance: none;
	width:40%;
	outline: none;
	border-radius: 0.5vmin;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #0C1A5F;
	border-radius: 0.5vmin;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #0C1A5F;
	border-radius: 0.5vmin;
}


input[type=text], input[type=button], input[type=submit]{
	-webkit-appearance: none;
}

.page p{
	border-radius: 1vmin;
	font-size: 2vmin;
	padding: 5%;
	width: 70%;
	height: 50%;
	background-color: #F8E7C9;
	overflow: scroll;
}

/*////////////////////////*/

.island-image{
	position: absolute;
	left:0;
	top:0;
	width:50vmin;
	height:50vmin;
}

#loading-container{
	margin: 0;
	position: absolute;
	width:100%;
	height:100%;
	justify-content: center;
	text-align: center;
}

#loading-anim{
	position: absolute;
	top:36px;
	left:12px;
}

#loading-circle{
	position: relative;
	background-color: #2d5ba4;
	width:120px;
	height:120px;
	border-radius: 50%;
	max-width: none;
	max-height: none;
	justify-content: center;
}

/*////////////////////////////////////////*/



@-webkit-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-o-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeout{
	from { opacity: 1; }
	to { opacity: 0; }
}


/*///////////*/


@-webkit-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@-moz-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@-o-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@keyframes fadeInAndOut{
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}


@-webkit-keyframes renderLighting {
	100% { -webkit-transform:translate3d(-10240px,0,0); }
}
@-moz-keyframes renderLighting {
	100% { -moz-transform:translate3d(-10240px,0,0); }
}
@-o-keyframes renderLighting {
	100% { -o-transform:translate3d(-10240px,0,0); }
}
@keyframes renderLighting {
	100% { transform:translate3d(-10240px,0,0); }
}

.Particle{
	position: absolute;
	width:0.7vmin;
	height:0.7vmin;
	background-color: #2d5ba4;
	z-index: -3;

	/*This kind of stuff annoys me*/
	-webkit-animation:	fadeout 2s infinite;
	-moz-animation:		fadeout 2s infinite;
	-o-animation:		fadeout 2s infinite;
	animation: 			fadeout 2s infinite;
	will-change: opacity;

}



@-webkit-keyframes animateAlbatrossSprite {
	to { -webkit-transform:translate3d(-960px,0,0); }
}
@-moz-keyframes animateAlbatrossSprite {
	to { -moz-transform:translate3d(-960px,0,0); }
}
@-o-keyframes animateAlbatrossSprite {
	to { -o-transform:translate3d(-960px,0,0); }
}
@keyframes animateAlbatrossSprite{
	to { transform:translate3d(-960px,0,0); }
}


.sprite{
	position:relative;
	overflow:hidden;
}

.sprite > div{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	will-change: transform;
}


.Albatross {
	height: 48px;
	width: 96px;
}

/*
	This originally was an elegent pseudoclass, but animations on pseudoclasses don't work in safari! This doesn't seem like a big deal, but a large percentage of mobile users are using safari and my design is specifically for mobile!
*/
.Albatross > div {
	width:960px;
	background-image: url("../assets/albatross/albatross-sprite-sheet.png");
	-webkit-animation:	animateAlbatrossSprite 1s steps(10) infinite;
	-moz-animation:		animateAlbatrossSprite 1s steps(10) infinite;
	-o-animation:		animateAlbatrossSprite 1s steps(10) infinite;
	animation: 			animateAlbatrossSprite 1s steps(10) infinite;
}
.greyVarient{
	background-image : url("../assets/albatross/albatross-grey-sprite-sheet.png");
}
