/*
	Brennan Wilkes
	100322326
	CPSC 2030 W01
*/

html, body {
	overflow: hidden;
}

*{
	padding:0;
	margin:0;
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;

	font-size:4vmin;
	text-transform: uppercase;
	color: black;
}

body{
	background-color:#0C1A5F;
	height:100vh;
	width:100vw;
}

#isl{
	width: 60vmax;
	height: 60vmax;
	background-repeat: no-repeat;
}

#backgroundDisplay{
	position: absolute;
	left: 50vw;
	top: 40vh;
	background-size:0;
	height: 1024px;
	width: 1024px;
	position:relative;
	overflow:hidden;
}
#backgroundDisplay::after{
	width: 10240px;
	background-image:inherit;

	-webkit-animation:	renderLighting 12s steps(5) infinite alternate;
	animation-name: renderLighting;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: steps(5);

	-moz-animation:		renderLighting 12s steps(5) infinite alternate;
	-o-animation:		renderLighting 12s steps(5) infinite alternate;
	animation: 			renderLighting 12s steps(5) infinite alternate;
}

#isl, #backgroundDisplay::after, main::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

main::after{
	background-image: linear-gradient(-45deg, #FF000040, #FF000080, #FFC922FF);

	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-animation:	fadeInAndOut 12s linear infinite alternate;
	-moz-animation:		fadeInAndOut 12s linear infinite alternate;
	-o-animation:		fadeInAndOut 12s linear infinite alternate;
	animation: 			fadeInAndOut 12s linear infinite alternate;

}

.page{
	width: 90vw;
	max-width: 67.5vh;

	height: 120vw;
	max-height: 90vh;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #F3D6A5;
	box-shadow: 0.5vmin 0.5vmin 3vmin 0.25vmin black;



	display:flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	z-index: 1;
}

.page > *{
	width:80%;
	margin: 0 10%;
}

.page > *:first-child{
	margin-top: 10%;
	font-size:8vmin;
	font-weight: bold;
}

.page:nth-child(-n+6) > *:first-child{
	margin-top: 5%;
}
.page:first-child > *:first-child{
	margin-top: 10%;
}

#osi{
	font-size: 7vmin;
}

#bw, #doc, #gal > h1, #gallery-preview > h1{
	font-size: 6vmin;
}

a img{
	max-width: 10vmin;
	max-height: 10vmin;
}


.page > div, .page > a{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

a{
	text-decoration: none;
}

.page > a, .page a > *{
	border-radius: 1vmin 5vmin 5vmin 1vmin;
}

.page a:nth-child(4) img{
	border-radius: 1vmin;
}

.page > div > *, .page > a > *{
	max-width: 60%;
}

.page div input[type=text]{
	text-transform: none;
}

input[type=checkbox]{
	width:5.5vmin;
	height:5.5vmin;
}

input, .page, input:focus, button{
	border-radius: 0.25vmin;
	outline-width: 0;
}

.page > *:last-child{
	margin-bottom: 8%;
}

.page > div:last-child > *{
	width:40%;
}

#gallery-preview > :last-child *{
	width: 100%;
}

label, h1, h2, input[type=button], input[type=submit]{
	color: #444;
}



input, button{
	border: 1px solid #444;
	min-width: 0;
	flex-shrink: 1;
	background-color: #F8E7C9;
}

input[type=color]{
	background-color: #F3D6A5;
}

input[type=button], input[type=submit], button{
	padding-top: 0.5vmin;
}



input[type=button]{
	width: 80%;
}

.dual label{
	width:150%;
}

.tri label{
	width:200%;
}

input:hover, button:hover, .page > a:hover, .page > a *:hover{
	cursor:pointer;
	background-color: #E7CC9C;
}
input[type=text]:hover{
	cursor:text;
}
input[type=button]:active, input[type=submit]:active, button:active, input:focus, button:focus{
	background-color: #DFBB7C;
}

#gal > div, #gallery-preview > img{
	margin-top:5vh;
	margin-bottom: 5vh;
	height:80%;
	width:80%;
}

#gal > div{
	overflow-y: scroll;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #0C1A5F;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#gal > div::-webkit-scrollbar {
	display: none;
}

#gal > div > img{
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	transition:0.5s;
}

#gal > div > img:hover{
	transform: scale(1.15);
	box-shadow: 0.5vmin 0.5vmin 3vmin 0.25vmin black;
	cursor: pointer;
	overflow: visible;
	z-index: 5
}

#gal, #gallery-preview{
	display: grid;
	grid-template-rows: 15% 73%;
	align-content: center;
	text-align: center;
}

#gal *, #gallery-preview *{
}

#backgroundPage{
	z-index: 0;
	box-shadow: 0 0 0 0;
}

/*/////////////////////////////////////////*/


/*
	This copy paste code for webkit and moz angers me
*/

input[type=range]{
	-webkit-appearance: none;
	width:40%;
	outline: none;
	border-radius: 0.5vmin;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #0C1A5F;
	border-radius: 0.5vmin;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #0C1A5F;
	border-radius: 0.5vmin;
}


input.text, input[type=text], input[type=button], input[type=submit]{
	-webkit-appearance: none;
}


/*////////////////////////*/

.island-image{
	position: absolute;
	left:0;
	top:0;
	width:50vmin;
	height:50vmin;
	z-index: 2;
}

#loading-container{
	margin: 0;
	position: absolute;
	width:100%;
	height:100%;
	justify-content: center;
	text-align: center;
}

#loading-anim{
	position: absolute;
	top:36px;
	left:12px;
}

#loading-circle{
	position: relative;
	background-color: #2d5ba4;
	width:120px;
	height:120px;
	border-radius: 50%;
	max-width: none;
	max-height: none;
	justify-content: center;
}

/*////////////////////////////////////////*/



@-webkit-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-o-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeout{
	from { opacity: 1; }
	to { opacity: 0; }
}


/*///////////*/


@-webkit-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@-moz-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@-o-keyframes fadeInAndOut {
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}
@keyframes fadeInAndOut{
	0% { opacity: 0; }
	100% { opacity: 0.65; }
}


@-webkit-keyframes renderLighting {
	100% { -webkit-transform:translateX(-10240px); }
}
@-moz-keyframes renderLighting {
	100% { -moz-transform:translateX(-10240px); }
}
@-o-keyframes renderLighting {
	100% { -o-transform:translateX(-10240px); }
}
@keyframes renderLighting {
	100% { transform:translateX(-10240px); }
}

.Particle{
	position: absolute;
	width:0.7vmin;
	height:0.7vmin;
	background-color: #2d5ba4;
	z-index: -1;

	/*This kind of stuff annoys me*/
	-webkit-animation:	fadeout 2s infinite;
	-moz-animation:		fadeout 2s infinite;
	-o-animation:		fadeout 2s infinite;
	animation: 			fadeout 2s infinite;

}



@-webkit-keyframes animateAlbatrossSprite {
	to { -webkit-transform:translateX(-960px); }
}
@-moz-keyframes animateAlbatrossSprite {
	to { -moz-transform:translateX(-960px); }
}
@-o-keyframes animateAlbatrossSprite {
	to { -o-transform:translateX(-960px); }
}
@keyframes animateAlbatrossSprite{
	to { transform:translateX(-960px); }
}


.Albatross {
	background-image: url("assets/albatross/albatross-sprite-sheet.png");
	background-size:0;
	height: 48px;
	width: 96px;
	position:relative;
	overflow:hidden;
	}
.Albatross::before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:960px;
	bottom:0;
	background-image:inherit;
	-webkit-animation:	animateAlbatrossSprite 1s steps(10) infinite;
	-moz-animation:		animateAlbatrossSprite 1s steps(10) infinite;
	-o-animation:		animateAlbatrossSprite 1s steps(10) infinite;
	animation: 			animateAlbatrossSprite 1s steps(10) infinite;

	animation-name: animateAlbatrossSprite;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(10);

}
.greyVarient{
	background-image : url("assets/albatross/albatross-grey-sprite-sheet.png");
}
