/*
	Brennan Wilkes
	100322326
	CPSC 2030 W01
*/

*{
	padding:0;
	margin:0;
	font-family: Muli, sans-serif;
	font-size:4.5vmin;
	text-transform: uppercase;
}

form{
	width: 90vw;
	/*9/16*90=50.625
	  3/4*90=67.5*/
	max-width: 67.5vh;

	/*16/9*90=160
	  4/3*90=120*/
	height: 120vw;
	max-height: 90vh;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: gold;

	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

form > *{
	width:80%;
	margin: 5% 10%;
}

form > *:first-child{
	margin-top: 10%;
}


form div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

form div *{
	max-width: 60%;
}

form div input{
	text-transform: none;
}

input[type=checkbox]{
	width:5.5vmin;
	height:5.5vmin;
}
