/*
	Brennan Wilkes
	100322326
	CPSC 2030 W01
*/

html, body {
	overflow: hidden;
}

*{
	padding:0;
	margin:0;
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;

	font-size:4.5vmin;
	text-transform: uppercase;
	color: black;
}

body{
	background-color:#0C1A5F;
}

main{
	background-position: 55vw 40vh;
	background-repeat: no-repeat;
	background-size: contain;
	height:100vh;
	z-index: 1;
}


.page{
	width: 90vw;
	/*9/16*90=50.625
	  3/4*90=67.5*/
	max-width: 67.5vh;

	/*16/9*90=160
	  4/3*90=120*/
	height: 120vw;
	max-height: 90vh;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: white;
	box-shadow: 0.5vmin 0.5vmin 3vmin 0.25vmin black;



	display:flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.page > *{
	width:80%;
	margin: 2% 10%;\
}

.page > *:first-child{
	margin-top: 5%;
	font-size:8vmin;
	font-weight: bold;
}


.page div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.page div *{
	max-width: 60%;
}

.page div input[type=text]{
	text-transform: none;
}

input[type=checkbox]{
	width:5.5vmin;
	height:5.5vmin;
}

input, .page, input:focus{
	border-radius: 1vmin;
	outline-width: 0;
}

.page > *:last-child{
	margin-bottom: 8%;
}

.page div:last-child > *{
	width:40%;
}

label, h1, input[type=button], input[type=submit]{
	color: #444;
}

input{
	border: 0.1vmin solid #444;
}

input[type=button]:active, input[type=submit]:active{
	background-color: #CCC;
}

input[type=color]{
	width:40%;
	height:90%;
	border: 0;
}


/*////////////////////////////////////////*/


@keyframes fadeout{
	from { opacity: 1; }
	to { opacity: 0; }
}

.Particle{
	position: absolute;
	width:0.7vmin;
	height:0.7vmin;
	background-color: #2d5ba4;
	animation: fadeout 2s infinite;
	z-index: -1;
}


@keyframes animateAlbatrossSprite{
	from{background-position-x:0px;}
	to{background-position-x:-960px;}
}

@keyframes spriteMovement {
	0% 		{transform: rotate(135deg) translate(0, 10vmax);}
	100% 	{transform: rotate(135deg) translate(0, -110vmax);}
}

.Albatross{
	position: absolute;
	width: 96px;
	height: 48px;
	background-image : url("sprites/albatross-sprite-sheet.png");
	animation: animateAlbatrossSprite 1s steps(10) infinite, linear spriteMovement 10s infinite;
}

.greyVarient{
	background-image : url("sprites/albatross-grey-sprite-sheet.png");
}
